In [102]:
# импортируем библиотеки
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [103]:
# загружаем файл с данными
data = pd.read_csv('c:\movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1230,tt2334879,150000000,205366737,White House Down,Channing Tatum|Jamie Foxx|Joey King|Maggie Gyl...,Roland Emmerich,It Will Start Like Any Other Day.,Capitol Policeman John Cale has just been deni...,131,Action|Drama|Thriller,Columbia Pictures|Centropolis Entertainment|Ir...,6/27/2013,6.4,2013
548,tt0206314,23000000,36642838,Joy Ride,Steve Zahn|Paul Walker|Leelee Sobieski|Jessica...,John Dahl,"It was just a joke, just for fun.",Three young people on a road trip from Colorad...,97,Mystery|Thriller|Drama,Regency Enterprises|Epsilon Motion Pictures|Li...,10/5/2001,6.2,2001
540,tt0120681,35000000,74558115,From Hell,Johnny Depp|Heather Graham|Ian Holm|Robbie Col...,Albert Hughes|Allen Hughes,Only the legend will survive.,Frederick Abberline is an opium-huffing inspec...,122,Horror|Mystery|Thriller,Twentieth Century Fox Film Corporation|Underwo...,10/19/2001,6.4,2001
1101,tt0306047,48000000,220673217,Scary Movie 3,Pamela Anderson|Jenny McCarthy|Marny Eng|Charl...,David Zucker,Great trilogies come in threes.,In the third installment of the Scary Movie fr...,84,Comedy,Dimension Films|Brad Grey Pictures,10/24/2003,5.6,2003
656,tt0430922,28000000,92380927,Role Models,Seann William Scott|Paul Rudd|Elizabeth Banks|...,David Wain,They're about to get more than they plea-barga...,Two salesmen trash a company truck on an energ...,99,Comedy,Universal Pictures|Internationale Filmprodukti...,2/3/2008,6.3,2008

In [104]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [105]:
# создадим словарь для ответов
answers = {} 
# рассчитаем прибыль
data['profit'] = data['revenue'] - data['budget']
#обработка колонки дата,выделение отдельно колонки месяц
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [106]:
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'

In [107]:
# определяем название фильма с максимальным значением бюджета
a1 = data.original_title[data.budget == data.budget.max()]
print(a1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [108]:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title']]

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

# 2. Какой из фильмов самый длительный (в минутах)?

In [109]:
answers['2'] = 'Gods and Generals'

In [110]:
# определяем название фильма с максимальной длительностью
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [111]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [112]:
# определяем название самого короткого фильма
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [113]:
answers['4'] = 109.6585494970884

In [114]:
# рассчитываем среднюю длительность фильмов
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [115]:
answers['5'] = 107.0

In [116]:
# расчитываем медианное значение длительности фильмов
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [117]:
answers['6'] = 'Avatar (tt0499549)'

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-117-1431283ea6ac>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  answers['6'] = 'Avatar' (tt0499549)

NameError: name 'tt0499549' is not defined

In [ ]:
# определяем самый прибыльный фильм
data.original_title[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [ ]:
# определяем фильм с минимальной прибылью
data.original_title[data.profit == data.profit.min()]

8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = 1478

In [ ]:
# определяем фильмы с выручкой большей чем бюджет
a8 = data[data.revenue > data.budget]
# считаем количество фильмов
len(a8.index)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [ ]:
# отбираем данные за 2008 год
data = data[data['release_year'] == 2008]
# отбираем фильм с максимальной выручкой
data = data[data['revenue'] >= data.revenue.max()]
print(data.original_title)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'The Lone Ranger'

In [ ]:
# отбираем фильмы за 2012, 2013, 2014 годы
data.query('release_year in ["2012","2013","2014" ]')
# рассчитываем прибыль как разницу выручки и бюджета
data['profit'] = data['revenue'] - data['budget']
# определяем фильм с наименьшей прибылью (самый убыточный фильм)
data = data[data['profit'] == data.profit.min()]
print(data.original_title)

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama  (141)'

ВАРИАНТ 1

In [ ]:
data1 = data.genres.str.split('|', expand=False).sum()
Counter(data1).most_common()

ВАРИАНТ 2

In [ ]:
# считаем количество фильмов по жанрам
data1 = data.genres.str.split('|', expand=False).sum()
Counter(data1).most_common()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'

In [ ]:
#определяем прибыль по жанрам
print(data[data.profit > 0].genres.str.split('|').explode().mode()[0])

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = 'Peter Jackson (6490593685)'

In [ ]:
# определяем список директоров
directors = set(data.director.str.split('|').sum())
# формируем список директоров отсортированный по выручке
print(pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False))

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

In [ ]:
# формируем список режиссеров которые сняли больше всего фильмов в жанре экшн
print(data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0])

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'

In [ ]:
# выбираем год релиза, выручку, актера
data1 = data.query('release_year == 2012')
data2 = data1.groupby(['revenue'])[['cast']].max().sort_values(['revenue'],ascending=False)
data3 = data2.query('revenue == revenue.max()')
# делим строку в cast на подстроки
data4 = data3.cast.str.split('|')
# собираем подстроки и считаем значения
data4.explode().value_counts()

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'

In [ ]:
data_big_budget = data[data['budget'] > data['budget'].mean()]
data_big_budget.cast.str.split('|').explode().value_counts()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action (17)'

In [ ]:
# отбираем фильмы с Николасом кейджем
data_tmp = data[data.cast.str.contains("Nicolas Cage")]
# отбираем жанры фильмов с актёром
cage_genres = data_tmp['genres'].str.cat(sep='|')
cage_genres = pd.Series(cage_genres.split('|'))
# считаем количество фильмов Николаса по жанрам
cage_genres = cage_genres.value_counts(ascending=False)
print(cage_genres)

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'K-19: The Widowmaker tt0267626'

In [ ]:
data[data.production_companies.str.contains('Paramount Pictures')][['imdb_id', 'original_title', 
                                            'profit']].sort_values('profit', ascending = True).head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '2015'

In [ ]:
data.groupby(['release_year'])[['revenue']].sum().sort_values(['revenue'], ascending = False).head(2)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '2014 (2295464519)'

In [ ]:
# отбираем фильмы студии Warner Bros,группируем по дате релиза, сумме и сортируем значения по убыванию
print(data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False))

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '9 - сентябрь'

In [ ]:
data.groupby(data['release_month'])['imdb_id'].count().sort_values(ascending = False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '450'

In [ ]:
data.query('release_month in ["6","7","8"] ')[['imdb_id']].count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = 'Peter Jackson'

In [ ]:
data1 = data.query('release_month in ["12", "1", "2"]')[['director','imdb_id','release_month']]
data1.groupby(['director'])[['imdb_id']].count().sort_values(['imdb_id'], ascending=False).head(3)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers
{'1': 'Pirates of the Caribbean: On Stranger Tides. (tt1298650)',
 '2': 'Gods and Generals. (tt0279111)',
 '3': 'Winnie the Pooh. (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar. (tt0499549)',
 '7': 'The Lone Ranger. (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight. (tt0468569\t)',
 '10': 'The Lone Ranger. (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker. tt0267626',
 '19': '2015',
 '20': '2014',
 '21': '9 - сентябрь',
 '22': '450',
 '23': 'Peter Jackson'
}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)